* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inicio Etiquetas */
h2 {
    font-family: $font2;
    color: $color2;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 20px;
}

p {
    font-family: $font1;
    color: $color2;
    font-size: 15px;
    margin-top: 5px;
}

body{
    overflow-x: hidden;
}

/* Fin de Etiquetas */

/* Inicio Header */
header {
    width: 100%;
    height: 100px;
    background-color: $color1;


    .containercontacto {
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin: 0 50px 0 0;
        padding-top: 15px;
        color: $color4;
        font-family: $font1;
        font-size: 14px;

        .mail {
            margin-right: 100px;

            i {
                margin-right: 15px;
            }

            a {
                color: $color4;
                text-decoration: none;
                font-family: $font1;
                padding: 10px 0;

                &:hover {
                    text-decoration: none;
                    color: $color4;
                }
            }
        }

        .telefono {
            i {
                margin-right: 15px;
            }

            a {
                color: $color4;
                text-decoration: none;
                font-family: $font1;
                padding: 10px 0;

                &:hover {
                    text-decoration: none;
                    color: $color4;
                }
            }
        }
    }

    .container-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        img {
            width: 250px;
            height: 50px;
            float: inline-start;
            margin: 5px 50px 0 20px;
        }

        nav {
            float: right;

            ul {
                display: fixed;
                list-style: none;

                li {
                    display: inline-block;
                    margin: 35px 50px 0 5px;
                    background-image: linear-gradient(transparent 0%,
                            transparent 95%,
                            white 90%,
                            white 100%);
                    background-repeat: no-repeat;
                    background-size: 0% 100%;
                    background-position-x: right;
                    transition: background-size 500ms;

                    &:hover {
                        background-size: 100% 100%;
                        background-position-x: left;
                        text-decoration: none;
                    }

                    a {
                        color: $color4;
                        text-decoration: none;
                        font-size: 15px;
                        text-transform: uppercase;
                        font-family: $font1;
                        padding: 10px 0;

                        &:hover {
                            text-decoration: none;
                            color: $color4;
                        }
                    }
                }
            }
        }
    }
}

// inicio hamburger bar

\* #hamburger-icon {
    float: right;
    align-items: center;
    display: flex;
    margin: 15px;
    cursor: pointer;

    div {
        width: 35px;
        height: 3px;
        background-color: $color4;
        margin: 6px 0;
        transition: 0.4s;
    }
}

.navt {
    font-size: 16px;
    font-family: $font1;
    color: $color4;
    text-align: center;
    margin-top: 100px;
    text-transform: capitalize;
}

.open {
    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-6px, -8px);
        transform: rotate(45deg) translate(-6px, -8px);
    }

    .mobile-menu {
        z-index: 4;
        margin-top: -31px;
        background-color: $color2;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        li {
            height: 55px;
            width: 100%;
            margin: 20px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                background-color: $color2;
            }

            &:hover a {
                color: $color2;
            }
        }
    }
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 130px;
    left: 0px;
    height: calc(100vh - 50px);
    width: 100%;
}

// Hamburger bar fin


/* Fin de Header */
/* Inicio Index */
.index {
    width: 100%;
    height: auto;

    .carousel-inner {
        h1 {
            margin-left: 500px;
            padding-bottom: 5px;
            display: flex;
            flex-direction: row;
        }

        p {
            color: $color4;
            margin-left: 500px;
            margin-right: 150px;
            padding-bottom: 15px;
            text-align: left;
        }

        button {
            color: $color4;
            border: 2px solid $color4;
            border-radius: 10px;
            margin-left: 750px;
            margin-bottom: 50px;

            &:hover {
                color: $color2;
                background-color: $color4;
            }
        }
    }
}

/* Fin de Index */
/* Inicio seccion seguros */
.Seguros {
    width: 100%;
    height: auto;
    background-color: $color4;
    display: flex;
    flex-direction: column;
    align-items: center;


    .card {
        margin: 15px auto 50px auto;
        height: 160px;
        background-color: $color4;
        border-radius: 53% 47% 61% 39% / 32% 54% 46% 68% ;
        border: 3px solid $color2;
        filter: drop-shadow(0 0 1px #121212);
        text-align: center;
        align-items: center;

        &:hover {
            transform: scale(1.18);
            border-radius: 100%;
            transition: 0.5s;
        }

        img {
            width: 50px;
            height: 50px;
            margin-top: 40px;
        }

        h5 {
            font-size: 12px;
            margin-top: 1px;
            font-family: $font1;
            color: $color1;
            text-transform: uppercase;
        }
    }
}

/* Fin seccion seguros */
/* Inicio seccion nosotros */
.quienes-somos {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../Img/personas.png");

    h2 {
        font-family: $font2;
        color: $color4;
        font-size: 30px;
        text-transform: uppercase;
        margin-top: 50px;
    }

    p {
        font-family: $font1;
        color: $color4;
        font-size: 18px;
        text-transform: lowercase;
        text-align: center;
        margin: 50px 250px 0 250px;
    }

    span {
        font-family: $font2;
        text-transform: uppercase;
    }

}

/* Fin seccion nosotros */
/* Inicio seccion contacto */
.Containerinfo {
    width: 100%;
    height: auto;
    background: rgb(79, 119, 155);
    background: linear-gradient(180deg, rgba(79, 119, 155, 1) 0%, rgba(11, 66, 117, 0.9788866230085784) 31%, rgba(7, 40, 71, 1) 93%);
    display: flex;
    flex-direction: row;
    justify-content: center;

    img {
        margin: 65px 0 65px 0;
        width: 250px;
        height: 50px;
    }

    .mapasitio {
        margin: 65px 100px 65px 100px;

        h5 {
            font-size: 16px;
            font-family: $font2;
            color: $color4;
            text-transform: uppercase;
        }

        p {
            font-family: $font1;
            color: $color4;
            font-size: 12px;

            a {
                text-decoration: none;
            }
        }
    }

    .info {
        margin: 65px 100px 65px 100px;

        h5 {
            font-size: 16px;
            font-family: $font2;
            color: $color4;
            text-transform: uppercase;
        }

        p {
            font-family: $font1;
            color: $color4;
            font-size: 12px;

            a {
                text-decoration: none;
                color: $color4;
            }
        }
    }

    .iconosredes {
        img {
            width: 32px;
            height: 32px;
            margin-right: 20px;
        }
    }


}

/* Fin seccion contacto */
/* Inicio Cotizaciones */
.containercotizciones {
    width: 100%;
    height: 800px;

    .container-titulo {
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            font-size: 28px;
            font-family: $font2;
            color: $color2;
        }

        p {
            font-size: 18px;
            font-family: $font1;
            color: $color1;
        }
    }


    form {
        input {
            width: 100%;
            border: 1px solid $color2;
            background-color: $color4;
            color: $color1;
            padding: 12px 20px;
            box-sizing: border-box;
            border: #3A7B99 2px solid;
        }

        p {
            font-family: $font1;
            font-size: 15px;
        }

        label {
            margin-top: 10px;
            margin-bottom: 1px;
            font-family: $font1;
            font-size: 25px;
            color: $color1;
            display: inline-block;
        }

        li {
            list-style: none;
        }

        textarea {
            background-color: $color4;
            color: $color1;
            padding: 12px 20px;
            box-sizing: border-box;
            border-radius: 4px;
            border: #3A7B99 2px solid;
            resize: none;
        }

        .btn {
            font-family: $font2;
            margin: 10px 25px 0 0;
            width: 30%;

            &:hover {
                background-color: $color1;
                color: $color4;
            }
        }
    }
}

/* Fin de Cotizaciones */
/* Inicio siniestros */
.containersiniestros {
    width: 100%;
    height: 800px;

    .container-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 28px;
            font-family: $font2;
            color: $color2;
        }

        p {
            font-size: 18px;
            font-family: $font1;
            color: $color1;
        }
    }


    form {
        input {
            width: 100%;
            border: 1px solid $color2;
            background-color: $color4;
            color: $color1;
            padding: 12px 20px;
            box-sizing: border-box;
            border: #3A7B99 2px solid;
        }

        p {
            font-family: $font1;
            font-size: 15px;
        }

        label {
            margin-top: 10px;
            margin-bottom: 1px;
            font-family: $font1;
            font-size: 25px;
            color: $color1;
            display: inline-block;
        }

        li {
            list-style: none;
        }

        textarea {
            background-color: $color4;
            color: $color1;
            padding: 12px 20px;
            box-sizing: border-box;
            border-radius: 4px;
            border: #3A7B99 2px solid;
            resize: none;
        }

        .btn {
            font-family: $font2;
            margin: 10px 25px 0 0;
            width: 30%;

            &:hover {
                background-color: $color1;
                color: $color4;
            }
        }
    }
}

/* Fin siniestros */
/* Inicio footer */
footer {
    width: 100%;
    height: auto;
    background-color: $color2;

    .contenedorfooter {
        display: flex;
        flex-direction: row;
        justify-content: end;

        img {
            width: 40px;
            height: 40px;
            margin: auto 10px auto 0;
        }

        h5 {
            width: 200px;
            font-size: 12px;
            font-family: $font2;
            color: $color4;
            margin: auto 0 auto 0;
        }
    }
}

/* Fin de footer */